.pg-all-stories {

    main {

        // For mobile
        display:block;
    

        // For desktop
        @include bp($phone-tablet) {
        
            margin: auto;
            margin-top: 4%;
            margin-left: 4%;
            margin-bottom: 4%;
            grid-area: c1;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: repeat(7, 1fr);
            grid-template-areas: "i1 i1 i2"
                                 "i1 i1 i3"
                                 "i1 i1 i4"
                                 "i5 i5 i5"
                                 "i5 i5 i5"
                                 "i6 i7 i7"
                                 "i6 i7 i7";
            grid-gap: 2%;

            a {
                display: block;

                img {
                    display: block;
                    @include img-fit;
                }
            }

            .im1 {
                grid-area: i1;
            }

            .im2 {
                grid-area: i2;
            }

            .im3 {
                grid-area: i3;
            }

            .im4 {
                grid-area: i4;
            }

            .im5 {
                grid-area: i5;
            }

            .im6 {
                grid-area: i6;
            }

            .im7 {
                grid-area: i7;
            }      

        } // desktop end

    } // main end

} // body end
