.pg-artists {
    

    main {

        .col-search {
            margin: 40px 0;
        }

        .recent{
            margin: 40px 0 0 25px;
        }

        .name-date {

            ul {
                list-style: none;
                margin-bottom: 20px;
                padding-left: 25px;

                li {
                    margin: 10px 0;
                }

                a {
                    text-decoration: none;
                    font-family: $font;
                    font-size: $font-h2;
                }
            }
        }

        .artist-date {
            display: none;
        }

        @include bp($phone-tablet) {
            grid-area: c1;
            display: grid;
            // grid-template-columns: repeat(3, 1fr);
            grid-template-rows: 1fr 10fr;
            grid-template-areas: "a1 a2 a3"
                                 "a4 a5 a5";
            margin-top: 15vh;
            color: $text-color;
            height: 580px;

            .col-search {
                grid-area: a1;
            }

            .recent{
                grid-area: a2;
            }
            .recent h2 {
                margin: 0;
            }


            //name date style
            .name-date {
                margin: 0;
                grid-area: a5;
                display: flex;
                
            }
            .name-date li{
                margin-bottom: 5vh;
            }
            .name-li a {
                margin-bottom: 5vh;
            }
            .artist-name {
                padding: 0;
                margin-top: 0;
                margin-right: 15vw;

            }
            .artist-date {
                margin-top: 0;
                display: block;
            }
            
        } // Desktop end       

    } // main end
      
} // pg-artists end

