.artist-page {
    @include display-grid;
    @include menu-right;
    @include subscribes;

    main {
        grid-area: c1;
        @include search-bar;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr 10fr;
        grid-template-areas: "a1 a2 a3"
                             "a4 a5 a5";
        margin-top: 15vh;
        font-family: $font;
        font-size: $font-p;
        @include no-style-link;


        //search col style
        .col-search {
            grid-area: a1;
        }

        //recent style
        .recent{
            grid-area: a2;
        }
        .recent h2 {
            margin: 0;
        }


        //name date style
        .name-date {
            margin: 0;
            grid-area: a5;
            display: flex;
        }
         .name-date li{
            list-style-type: none;
            margin-bottom: 5vh;
        }
        .name-li a {
            @include no-style-link;
            margin-bottom: 5vh;
        }
        .artist-name{
            padding: 0;
            margin-top: 0;
            margin-right: 15vw;
        }
        .artist-date {
            margin-top: 0;
        }
        .date-li a {
            @include no-style-link;
            margin-top: 0;
        }
        
       }
       .hamburger {
        display: none;
    }
   
   @media only screen and (max-width: 800px){

    @include mobile-menu-bar;
    main{
        display: block;
        margin-left: 5%;
    }
    .recent{
        margin-bottom: 5vh;
    }
    .col-search {
        margin-bottom: 10%;
    }
    .artist-date {
        display: none;
    }
    .searchform {
        ;
        input[type="search"]{
            text-align: left;
        }
    }
    
}}

