// Layout for mobile

.wrapper {
    display: block;
    width: 100%;
    height: 100%;

    header {
        width: 100%;
        text-align: right; 

        .button {
            color: $button-color;
        }
    }

    

    main {
        width: 100%;
        

        .collectors-img {
            display: block;
            position: relative;
        }

        .prev {
            position: absolute;
            top: 50%;
            left: 1%;
            color: $text-color-light;
        }

        .next {
            position: absolute;
            top: 50%;
            right: 1%;
            color: $text-color-light;
        }
    }
    

    footer {
        display: block;
        float: right;
    }


}



// Layout - for desktop 


@include desktop {

    @include display-gird;
    @include menu-right;


    main {
        grid-area: c1;
    }

}


