// Layout for mobile

.wrapper {
    display: block;
    width: 100%;
    height: 100%;

    header {
        width: 100%;
        text-align: right; 

        .button {
            color: $button-color;
        }
    }

    

    main {
        width: 100%;
        

        .collectors-img {
            display: block;
            position: relative;
        }

        .prev {
            position: absolute;
            top: 50%;
            left: 1%;
            color: $text-color-light;
        }

        .next {
            position: absolute;
            top: 50%;
            right: 1%;
            color: $text-color-light;
        }
    }
    

    footer {
        display: block;
        float: right;
    }

    .subscribes a {
        text-decoration: none;
    }

    .subscribes p {
        background-color: $button-color;
        color: $text-color;
        font-size: $font-p;
        text-align: right;
    }
}



// Layout - for desktop 


@include desktop {

.prev {grid-area: prev;}
.collectors-img {grid-area: photo;}
.next {grid-area: next;}
header {grid-area: manu;}

.wrapper {
    

    display: grid;
    grid-template-areas: 
        'prev photo photo next manu';
    grid-gap: 1%;

    header {
        width: 19%;
        .button {display: none;}

        h1 {font-size: $font-h1;}
        
    }
}

}


