// Layout for mobile

.collectors {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    margin: $margin-all-around;

    .button {
        @include no-mar-pad;
        display: block;
        background-color: $button-color;
        color: $text-color-light;
    }

    header {
        width: 100%;
        height: 100%;
        text-align: right; 
        display: none;       
    }

    

    main {
        width: 100%;
        height: 100%;
        display: block;
        
        section {
            position: relative;

            .collectors-img {
                display: block;
                
                margin-bottom: ($margin-p * 3);

            }

            .prev {
                position: absolute;
                top: -2%;
                left: 1%;
                color: $text-color-light;
                font-weight: bold;
            }

            .next {
                position: absolute;
                top: -2%;
                right: -1%;
                //color: $text-color-light;
                color: red;
                font-weight: bold;
            }
        }
    }
    
    @include subscribes-style;




    // Layout - for desktop 



    @include desktop {

        .btn-menu {
            display: none;
        }
        @include display-grid;
        @include menu-right;

        header {

        }


        main {
            grid-area: c1;
            

            section {
                display: flex;
                justify-content: space-between;

                h2 {
                    text-align: center;
                    position: absolute;
                    top: 8%;
                    left: 20%;
                    transform: rotate(90deg);
                    transform: translate(-50% -50%);
                    letter-spacing: 8px;

                a {
                    @include no-style-link;

                }
            }

                .prev {
                    //padding: $margin-all-around;
                    width: 20%;
                    position: absolute;
                    left: 5%;
                    top: 70%;
                    color: $text-color;
                    text-align: right;
                    border-bottom: 2px solid black;
                    padding: $margin-all-around 0;
                }

                .collectors-img {
                    width: 56%;
                    height: auto;
                    display: block;
                    object-fit: cover;
                    margin: 0 auto;
                    position: relative;
                    text-align: center;
                }

                .next {
                    width: 20%;
                    position: absolute;
                    left: 75%;
                    top: 20%;
                    color: $text-color;
                    text-align: left;
                    border-bottom: 2px solid black;
                    padding: $margin-all-around 0;
                }
            }
        }
    }

}