.pg-contacts {

    main {
        display: block;
        flex-direction: column;
        margin-right: 5%;
        margin-left: 5%;

        .message-form {
            width: 100%;
            height: 100%;
    
            label {
                font-size: $font-p;
                margin-bottom: 10px;
                font-size: $font-p;
                font-family: $font;
                line-height: 30px;
            }
    
            .form-contact {
                margin-top: 30px;
            }
    
            .text {
                width: 100%;
                background-color: #bfbfbf;
                border-width: 0;
                margin: 5px 5px 20px 0;
                font-size: $font-p;
                font-family: $font;
                line-height: 30px;
            }

        }

        .location {
            width: 100%;
            height: auto;

            .map{
                margin: 0;
                height: 500px;
            }
        }
    }


    @include bp($phone-tablet) {

        main {
            grid-area: c1;
            display: flex;
            justify-content: space-between;
            margin-left: 2%;
            margin-right: 2%;
            width: 100%;
            height: 100%;
        
            .location {
        
                .map{
                    width: 100%;
                    height: 100%;
                }
            }
        
            .submit {
                padding: 8px 20px;
                background-color: #060708;
                color: white;
                font-family: $font;
        
            }
        
        } // End main - Desktop    
        
    } // End phone-tablet
    
} // End Contact

