.contact{
    @include display-grid;
    @include menu-right;
    @include subscribes;
    font-family: $font;

    .hamburger {
        display: none;
    }

    main {
        grid-area: c1;
        display: flex;
        margin-left: 2%;
        width: 100%;
        height: 100%;

        .message-form {
            width: 100%

            label {
                font-size: $font-p;
                margin-bottom: 10px;
            }

            .form-contact {
                margin-top: 30px;
            }

            .text {
                width: 100%;
                line-height: 5vh;
                background-color: #bfbfbf;
                border-width: 0;
                margin: 5px 5px 10% 0;
                font-size: $font-p;
            }
        }

        .location {
            width: 100%;
            height: 100%;

            .map{
                width: 100%;
                height: 100%;
                margin: 10px;
                // iframe {
                //     width: 100%;
                // }
            }
        }

        .submit {
            padding: 8px 20px;
            background-color: #060708;
            color: white;
            font-family: $font;

        }

    } // End main - Desktop


    @media (max-width: $phone-tablet) {
        display: flex;
        flex-direction: column;

        main {
            display: flex;
            flex-direction: column;
            margin: 10px;

            .message-form {
                width: 100%;
                height: 100%;
            }
            .location {
                width: 100%;
                height: 500px;

                .map{
                    margin: 0;
                }
            }
        }
    } // End phone-tablet

} // End Contact