.pg-exhibitions {

    main {
        display:block;
        margin: 20px 10px 0 10px;
    }

    @include bp($phone-tablet) {
        .wrapper {
            z-index: 0;
            font-family: $font;

            main{
                grid-area: c1;
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 1fr 1fr;
                grid-template-areas: "ex1 ex2"
                                     "ex3 ex4";
                grid-gap: 2%;
                margin-left: 3%;
                
                .david-main-page {
                    margin-top: 5vh;
                    grid-area: ex1;
                }

                .david-main-page img {
                    @include img-fit;
                }
                
                .exhibition-text-left {
                    margin-top: 5vh;
                    grid-area: ex2;
                    @include article-style;
                }   
                .exhibition-text-right {
                    grid-area: ex3;
                    @include article-style;
                }
                .andrea-main-page {
                    grid-area: ex4;
                    
                }
                .andrea-main-page img {
                    @include img-fit;
                }
            
            } // main end - desktop

        } // wrapper end - desktop

    } //desktop end

} // pg-exhibitions end