.pg-fairs {

    font-family: $font;

    main{
        display:block;
        margin: 10px 10px 0 10px;

        h1 {
            font-size: $font-h1;
        }

        p {
            font-size: $font-p;
            line-height: 30px;
            margin: 10px;
        }
    }

    @include bp($phone-tablet) {

        main{
            grid-area: c1;
            display: grid;
            grid-template-columns: 1fr 4fr;
            grid-template-rows: 1fr;
            grid-template-areas: "f1 f2";
            grid-gap: 5px;
            margin-top: 50px;
            margin-left: 50px;

            h1 {
                grid-area: f1;    
            }
            section {
                grid-area: f2;
                @include article-style;
            }
        } // main end - desktop

    } // desktop end - desktop

} // pg-fairs end - desktop