header {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    display: block;
    margin-top: 40px; 
    position: relative;

    h1 {
        @include flatten(false);
        margin-right: 2%;
        margin-bottom: 2%;
        font-weight: bold;
        font-family: $font;
        font-size: $font-h1;

        a {
            text-align: right;
            display: block;
            text-decoration: none;
            color: $text-color;
        }
    } // H1 end 
  
    @include bp($phone-tablet) {
        flex-wrap: wrap;
        align-self: right;
        margin-right: 10%;
        display: block;
    } // media query end - For desktop

} // Header end - For mobile