.pg-jean {

    .wrapper {

        main {
            display: block;
            font-family: $font;
            margin-left: 5%;

            .inter-question {
                margin: 0;
                font-weight: bold;
                font-style: italic;
                font-size: $font-h3;
                margin-top: 20px;
                margin-bottom: 0;
                line-height: 200%;
            }

            p {
                margin: 0;
                @include article-style;
                margin: 10px 50px 20px;
            }

            img {
                width: 100%;
                margin-left: 0;
                margin-right: 0;
            }

        }


        @include bp($phone-tablet){

            main {
                grid-area: c1;
                margin-bottom: 5%;

                h2 {
                margin-left: 3vw;
                margin-top: 60px;
                font-size: $font-h2;
                }

                .inter-question {
                    margin-left: 10vw;
                    margin-right: 10vw;
                }

                p {
                    margin: 0 10vw;
                }

                .J-img-top img {
                    margin-left: 0;
                }

                .J-img {
                margin-left: 10vw;
                margin-right: 10vw;
                
                }
                .J-img img {
                width: 80%;
                height: 80%;
                margin-top: 2vh;
                margin-bottom: 2vh;
                }

            } // main end - desktop
            
        } // desktop end

    } // Wrapper end

} // pg-jean end