.jean-inter {
    @include display-grid;
    @include menu-right;
    @include subscribes;


    main {
        grid-area: c1;
        font-family: $font;
        margin-bottom: 10%;


        h2 {
        margin-left: 3vw;
        font-size: $font-h2;
        }

        .inter-question {
        font-weight: bold;
        font-style: italic;
        font-size: $font-h3;
        margin-left: 10vw;
        margin-right: 10vw;
        margin-top: 0;
        margin-bottom: 0;
        line-height: 200%;
        }
        p {
        @include article-style;
        margin-left: 10vw;
        margin-right: 10vw;
        
        }
        .J-img-top img {
        transform: scale(1.1);
            }

        .J-img {
        margin-left: 10vw;
        margin-right: 10vw;
        
        }
        .J-img img {
        width: 80%;
        height: 80%;
        margin-top: 5vh;
        margin-bottom: 5vh;
        }

    }
    .hamburger {
        display: none;
    }
   
    @media only screen and (max-width: $phone-tablet){
    display: block;
    header {
        
        justify-content: space-between;
        flex-wrap: wrap;
        flex-direction: row-reverse;
        margin-top: 5%;  
        margin-bottom: 5%;
        .menu-li{
            float: left;
            text-align: left;
            margin-left: 5%;
        }

        .hamburger{
        margin: 0 0 5% 5%;
        }
    }

    @include mobile-menu-bar;

    main{
        display: block;
        margin-left: 5%;
        p{
            margin: 0;
        }
        .inter-question{
            margin: 0;
        }
        img{
            width: 100%;
            margin-left: 0;
            margin-right: 0;
        }
    }
}
}