
// Only for the collectors-Josh-Jack HTML page
//--------------------------------------
    // For desktop

.jj-collectors {

    .collectors-josh-jack {

        .btn-menu {
            display: none;
        }

        @include display-grid;
        @include menu-right;
        @include subscribes;
        
        main {
            grid-area: c1;
            
            section {
                @include flex-layout-row;
                

            } // Section end

        } // Main end


		// re-write
        grid-template-columns: 1fr 25%;

        header {
            grid-column: 2;
        }

        main {
            grid-column: 1;
            margin: 0 20px;
            display: block;
            
        }

        .collectors-section {
            display: grid;
            grid-template-columns: 1fr;
            grid-column-gap: 40px;

            a {
                margin: 0 auto;
                display: block;
                width: 100%;
                
                img {
                    align-self: center;

                }
            }
            
			
			h2 {
				text-align: center;
                z-index: 1;

				a {
                    @include no-style-link;
				}
			}
        }

		.prev-next {
			display: flex;
            justify-content: space-between;
            
            .prev {
                cursor: pointer;
                width: 150px;
                justify-self: start;
                align-self: left;
                color: $text-color-blue;
                text-align: left;
                border-bottom: 2px solid black;
                padding: $padding-top-bottom;   
            }
    
            .next {
                cursor: pointer;
                width: 150px;
                justify-self: end;
                align-self: right;
                color: $text-color-blue;
                text-align: right;
                border-bottom: 2px solid black;
                padding: $padding-top-bottom;
                
            }
		}
		


        // .collector-name {
        //     position: absolute;
        //     left: -29px;
            
        // }

        .mobile-menu-button-container {
            display: none;
        }
    


// -------------------------------------------
		// Tablet and Mobile begins
        @media (max-width: 768px) {
            display: block;
        
            @include no-mar-pad;
            width: 100%;
            height: 100%;
            margin-top: 10px;
    
    
            .btn-menu {    
                display: block;
                background-color: $button-color;
                color: $text-color-light;
                font-weight: bold;
                width: 70px;
                height: 30px;
                margin-left: 10px;
            }
    
            header {
                height: 100%;
                text-align: right; 
                display: none;       
            }
    
            main {

                section {
				
					img {
						width: 100%;
						height: auto;
					}
    
                    h2 {
                        text-align: center;
    
                        a {
                            @include no-style-link;
                        }
                    }
    

    
					.prev-next {
						display: flex;
                        justify-content: space-between;
                        
                        .prev {
                            cursor: pointer;
                            width: 150px;
                            justify-self: start;
                            align-self: center;
                            color: $text-color-blue;
                            text-align: left;
                            border-bottom: 2px solid black;
                            padding: $padding-top-bottom;
                        }
                        .next {
                            cursor: pointer;
                            width: 150px;
                            justify-self: end;
                            align-self: center;
                            color: $text-color-blue;
                            text-align: right;
                            border-bottom: 2px solid black;
                            padding: $padding-top-bottom;
                        }
					}
					

					
                    @include subscribes-mobile;
                        .subscribes-box {
                            float: right;
                            text-align: center;
                        }
    
    
                } // End section - Tablet and Mobile
    
            } // End main - Tablet and Mobile
        
        } // End media query
    
    } // End collectors-josh-jack- Tablet and Mobile 

} // End jj-collectors

