
// Only for the collectors-Josh-Jack HTML page
//--------------------------------------
// Tablet and Mobile begins
.pg-josh {

    main {
        display:block;
        margin: 0 auto;

        section {

            img {
                width: 100%;
                height: auto;
                
            }

            h2 {
                text-align: center;

                a {
                    text-decoration: none;
                    color: $text-color;
                }
            }

            p {
                margin-left: 10px;
            }

            .prev-next {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                margin-bottom: 5px;

                .prev, .next {
                    cursor: pointer;
                    width: 110px;
                    border-bottom: 2px solid black;
                    padding: $padding-top-bottom;
                    color: $text-color-blue;
                    font-weight: bold;
                }
                
                .prev {                    
                    margin-left: 5px;
                }

                .next {        
                    text-align: right;
                    margin-right: 5px;
                }

            }

        } // End section - Tablet and Mobile

    } // End media query




// For desktop
@include bp($phone-tablet) {

    main {
        grid-area: c1;
        display: block; 
        margin-top: 40px;
        
        .collectors-section {
            @include flex-layout-row;

            display: grid;
            grid-template-columns: 1fr;
            margin: 0 auto;

            a {
                margin: 0 auto;
                display: block;

                img {
                    align-self: center;
                }
            }
            
            
            h2 {
                text-align: center;
                z-index: 1;

                a {
                    @include no-style-link;
                }
            }

            
            .prev-next {
                display: flex;
                justify-content: space-between;
            }

        } // Section end

    } // Main end

}
// -------------------------------------------

} // pg-josh end   
