
// Only for the collectors-Josh-Jack HTML page
//--------------------------------------
    // For desktop

.jj-collectors {

    .collectors-josh-jack {

        @include display-grid;
        @include menu-right;
        @include subscribes;

        .mobile-menu-button-container {
            display: none;
        }
        .hamburger {
            display: none;
        }
        
        main {
            grid-area: c1;
            display: block; 
            
            section {
                @include flex-layout-row;
            } // Section end

        } // Main end

        .collectors-section {
            display: grid;
            grid-template-columns: 1fr;
            margin: 0 auto;

            a {
                margin: 0 auto;
                display: block;
                width: 100%;
                
                img {
                    align-self: center;
                }
            }
            
			
			h2 {
				text-align: center;
                z-index: 1;

				a {
                    @include no-style-link;
				}
			}
        }

		.prev-next {
			display: flex;
            justify-content: space-between;
            
            .prev {
                cursor: pointer;
                width: 150px;
                justify-self: start;
                align-self: left;
                color: $text-color-blue;
                text-align: left;
                border-bottom: 2px solid black;
                padding: $padding-top-bottom;   
            }
    
            .next {
                cursor: pointer;
                width: 150px;
                justify-self: end;
                align-self: right;
                color: $text-color-blue;
                text-align: right;
                border-bottom: 2px solid black;
                padding: $padding-top-bottom;
                
            }
		}



// -------------------------------------------
		// Tablet and Mobile begins
        @media (max-width: $phone-tablet) {
            display: block;

            header {
                
                justify-content: space-between;
                flex-wrap: wrap;
                flex-direction: row-reverse;
                margin-top: 0; 
                margin-right: 5%;
                .menu-li{
                    float: left;
                    text-align: left;
                    margin-left: 5%;
                }

                .hamburger{
                margin: 0 0 5% 5%;
                }
            }
        
        
    
            @include mobile-menu-bar;
            main{
                display:block;
                margin: 0 5%;
            }
    
            main {

                section {
				
					img {
						width: 100%;
						height: auto;
					}
    
                    h2 {
                        text-align: center;
    
                        a {
                            @include no-style-link;
                        }
                    }
    

    
					.prev-next {
						display: flex;
                        justify-content: space-between;
                        margin-bottom: 70px;
                        
                        .prev {
                            cursor: pointer;
                            width: 150px;
                            justify-self: start;
                            align-self: center;
                            color: $text-color-blue;
                            text-align: left;
                            border-bottom: 2px solid black;
                            padding: $padding-top-bottom;
                        }
                        .next {
                            cursor: pointer;
                            width: 150px;
                            justify-self: end;
                            align-self: center;
                            color: $text-color-blue;
                            text-align: right;
                            border-bottom: 2px solid black;
                            padding: $padding-top-bottom;
                        }
					}
					

					
                    
    
    
                } // End section - Tablet and Mobile
    
            } // End main - Tablet and Mobile
            @include subscribes-mobile;
                .subscribes-box {
                    text-align: center;
                }
        
        } // End media query
    
    } // End collectors-josh-jack- Tablet and Mobile 

} // End jj-collectors

