//image
.landing {
    display: flex;
    flex-direction: row-reverse;

 header{
    width: 50%;
    height: 100vh;
    position: relative;
    display: block;
    height: auto;
 };
 header a {
   position: absolute;
   @include transform;
   @include no-style-link;
   @include essential;
   left: 50%;
   bottom: 50%;
 };
 main {
    width: 50%;
    height: 100vh;
    position: relative;
 };
 .landing-img {
    @include img-cover;
    
    
 };
 .quote-landing p {
     width: 100%;
     text-align: center;
     font-size: 40px;
     margin: 0;
 }
 .quote-landing {
    position: absolute;
    @include transform;
    left: 50%;
    bottom: 50%;
    color: white;
 } 
 @media only screen and (max-width: $phone-tablet){
    display: block;
    header{
       padding: 50%;
    }
    main{
       width: 100%;
       
    }
 }


}


