@mixin menu-right {
    
   
    header {
        margin-right: 10%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        h1 {
            margin-bottom: 12px;
        }
    }
    header  h1 a {
        //@include transform;
        @include no-style-link;
        @include essential-other;
        text-align: right;
        display: block;
        position: relative;
        
        
    }
    .menu-li {
        text-align: right;
        float: right;
        list-style: none;
        padding: 0; 
        font-size: $font-h3;
        font-weight: bold;
    }
    .menu-li li{
        margin-bottom: 20%;
    }
    .menu-li a{
        @include no-style-link;
    }

    
}

@mixin display-grid {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "c1 c2";
    font-family: $font;
    color: #060708;
}

@mixin mobile-menu-bar {
        .hamburger {
            display: block;
            border: none;
            background-color: transparent;
            padding: 0;
            margin: 0;
            width: 30px;
            height: 30px;   
            justify-content: center;
            cursor: pointer;
            
        }
    
        .hamburger-icon {
            color: black;
            line-height: 1;
            font-size: 40px;
        }
    
        .hamburger:focus,
        .hamburger-icon:focus {
            outline: none;
        }
        
        .hamburger:focus .hamburger-icon {
            outline: 5px solid #69c1db;
        }
    
        nav {
            //height: 0;
            display: none;
            overflow: hidden;
            width: 100%;
            transition: height 0.3s ease;
        }

        @at-root .show nav{
            display: block;
        }
    
        nav ul {
            display: block;
            justify-content: left;
        }
    
        nav a {
            color: black;
        }
    
        .subscribes-box{
            padding:0;
            width: auto;
        }
}

@mixin subscribes {
    .subscribes-box {
        font-size: $font-p;
        font-weight: bold;  
        position: fixed;
        bottom: 2%;
        right: 0;
        width: 168px;
        padding: 0;
        margin-right: 2.5%;


        a {
            display: block;
            padding: 1vh 2vw;
            text-align: center;
            margin: 0;
            background-color: $button-color;
            @include no-style-link(white);
        } // End a
    
    } // End .subscribes-box

} // End subscribes

@mixin subscribes-mobile {

    .subscribes-box {
        // font-size: 0.7em;
        font-weight: bold;
        display: block;
        list-style: none;
        bottom: 2%;
        margin-right: 20px;
        @include no-style-link;

        ul {
            @include flatten;
            list-style: none;
        }

        a {
            color: $text-color-light;
            display: block;
            width: 100px;
            line-height: calc($line-height-10px);
            text-align: center;  
            background-color: #060708;
            font-size: 0.9em;
            outline: none;
            text-decoration: none;
            margin-right: 0;

            #{ $link-hover-selector } {
                background-color: rgba(black, 0.3);
            }
 
        } // End a 

    } // End subscribes-box
    
} // End subscribes-mobile


.pg-collectors.show .collectors header nav {

    @media(max-width: $phone-tablet){
        display: block;
        margin-left: 5%;
    }

}

.jj-collectors.show .collectors-josh-jack header nav {
    @media(max-width: $phone-tablet){
        display: block;
    }

}

