@mixin menu-right {
    
    header {
        grid-area: c2;
        margin-right: 2%;
        position: fixed;
        right: 0;
        top: 0;
        display: block;
        z-index: 1;
    }
    header  h1 a {
        //@include transform;
        @include no-style-link;
        @include essential-other;
        text-align: right;
        display: block;
        position: relative;
        
        
    }
    .menu-li {
        text-align: right;
        float: right;
        list-style: none;
        padding: 0; 
        font-size: $font-h3;
        font-weight: bold;
    }
    .menu-li li{
        margin-bottom: 20%;
    }
    .menu-li a{
        @include no-style-link;
    }

    
}

@mixin display-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "c1 c1 c1 c2";
    font-family: $font;
    color: #060708;
}

@mixin mobile-menu-bar {
        .hamburger {
            display: flex;
            border: none;
            background-color: transparent;
            padding: 0;
            margin: 0;
            width: 30px;
            height: 30px;   
            float: right;
            justify-content: center;
            cursor: pointer;
            
        }
    
        .hamburger-icon {
            color: black;
            line-height: 1;
            font-size: 2.4em;
        }
    
        .hamburger:focus,
        .hamburger-icon:focus {
            outline: none;
        }
        
        .hamburger:focus .hamburger-icon {
            outline: 5px solid #69c1db;
        }
    
        nav {
            height: 0;
            overflow: hidden;
            width: 100%;
            transition: height 0.3s ease;
        }
    
        nav ul {
            display: block;
        }
    
        nav a {
            line-height: 100px;
            border-bottom: 1px solid black;
            border-top: 1px solid #afafaf;
            color: black;
        }
    
        nav li:last-child a {
            border-bottom: 1px solid #afafaf;
        }
    
        .show nav {
            height: 100em;    
        }


     
        .subscribes-box{
            padding:0;
            margin-right: 1vw;
            width: auto;
        }
}

