

@mixin clearblock {
    &:after {
    content: "";
    display: block;
    clear: both;
    }
}

@mixin bp($break-point) {
    @media (min-width: $break-point) {
        @content;
    }
}

//object fit
@mixin img-fit {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
// ---------------



// Mixin for centering element
// with margin-left: auto
// and margin-right: auto;
@mixin margin-center {
    margin: {
        left: auto;
        right: auto;
    }
}

// Mixin for clearing out
// margins and padding and
// setting the line-height to 1 
// ...useful mainly on typographic elements
@mixin flatten($is-list: true){

    margin: 0;
    padding: 0;
    @if($is-list){
        list-style: none;
    }@else {
        line-height: 1;
    }

}



@mixin img-cover($abs-pos: true){
    @if($abs-pos){
        position: absolute;
        top: 0;
        left: 0;
    }
    object-fit: cover;
    width: 100%;
    height: 100%;
    display: block;
}


// Layout Mixins
@mixin flex-layout-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}



// Center elements in a flex
// container
@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

// Aspect Ratio Presets
$ar-video: (9 / 16) * 100%;
$ar-square: (1 / 1) * 100%;
$ar-cinemamatic: (9 / 21) * 100%;


// Function to generate aspect
// ratio percentages
@function rp($w, $h){
    @return ($h / $w) * 100%;
}

// Aspect Ratios
$aspect-ratios: (
    'video': rp(16, 9),
    'square': rp(1,1),
    'cinema': rp(21,9),
    'photo': rp(1,1)
);

// Aspect Ratio Boxes Mixin
// This defaults to a square 
// aspect ratio
@mixin aspect-ratio-box($ar) {

    $ratio: 100%;

    @if map_has_key($aspect-ratios, $ar) {
        $ratio: map_get($aspect-ratios, $ar);
    } 

    position: relative;

    &:before {
        content: "";
        width: 1px;
        margin-left: -1px;
        float: left;
        height: 0;
        padding-top: $ratio;
    }
     
    &:after { 
        content: "";
        display: table;
        clear: both;
    }

}

@mixin no-mar-pad {
    margin: 0;
    padding: 0;
}

@mixin no-style-link {
    text-decoration: none;
}

@mixin article-style {
    font-size: $font-p;
    line-height: 200%;
}

@mixin transform {
    transform: translate(-50%,50%);
}

@mixin essential {
    font-weight: bold;
    font-family: $font;
    font-size: $font-h1;
    color: $text-color;
}