// nav on the right

nav {

    $height: 30px;
    
    ul {
        @include flatten;
        list-style: none;
    }

    li {
        // flex: 1;
        // float: right;
    }

    a {
        display: block;
        color: $text-color;
        line-height: $height;
        text-align: right;
        font-size: 1.4em;
        text-decoration: none;
        outline: none;

        #{ $link-hover-selector } {
            background-color: rgba(white, 0.3);
        }


    } // End a 
} // End nav