// Resets

// Box Sizing Reset
html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

// a set
a {
    text-decoration: none;
}

// Image Reset
img {
    max-width: 100%;
    height: auto;
    display: block;
}

// Table Reset
table {
	border-collapse: collapse;
	border-spacing: 0;
}

// Remove Margins and padding on the body
body {
    margin: 0;
    padding: 0;
}
