.pg-subscribe {

    .subscribe {
        position: relative;
        width: 100vw;
        height: 100vh;
        font-size: $font-p;
        margin: 0 auto;

        .info {
            width: 90vw;
            position: absolute;
            top: 40%;
            right: 50%;
            transform: translate(50%,-50%);
            margin: 0 auto; 

            h1, p {
                
                text-align: center;
            }

            a {
                @include essential;
                @include no-style-link;
                align-self: center;
            }
        
            form {
                text-align: center;  

                input{
                    background-color:#bfbfbf;
                    width: 50vw;
                    height: 30px;
                    border-width: 0;
                    font-size: $font-p;
                }
                button {
                    margin: 5px 0 0 5px;
                    line-height: 26px;
                    width: 60px;
                    // padding: 2px 15px 2px 15px;
                    background-color: #060708;
                    color: white;
                    font-size: $font-p;
                    border-width: 0;
                }
            }
        }

        .back {
                
                // padding: 2px 15px 2px 15px;
                background-color: #060708;
                color: white;
                font-size: $font-p;
                border-width: 0;
                line-height: 26px;
                width: 60px;
                position: absolute;
                bottom: -160%;
                left: 50%;
                transform: translate(-50%,-50%);  
        }  
        
    } // subscribe end

} // pg-subscribe end