
@mixin flatten($is-list: true){

    margin: 0;
    padding: 0;
    @if($is-list){
        list-style: none;
    }@else {
        line-height: 1;
    }

}

@mixin bp($break-point) {
    @media (max-width: $break-point) {
        @content;
    }
}