//colors

$button-color: #060708;

$text-color: #060708;

$text-box-color: #bfbfbf;

//font family

$font: 'Merriweather', Times, Times New Roman, serif;

//font size
$font-h1: 8vw;
$font-h2: 6vw;
$font-h3: 4vw;
$font-p:  4vw;

//

