//colors

$button-color: #060708;

$text-color: #060708;
$text-color-blue: #4599D1;
$text-color-light: white;

$text-box-color: #bfbfbf;

//font family

$font: 'Merriweather', Times, Times New Roman, serif;

//font size
$font-h1: 5vw;
$font-h2: 160%;
$font-h3: 120%;
$font-p: 100%;

//layout

$margin-all-around: 4vw;
$margin-p: 4vw;


// Link Selector
$link-hover-selector: '&:hover, &:focus, &:active';





// -------
$bg-body-color: white;

$phone-tablet: 830px;
$desktopMedium: em(1250);
$line-height: 30px;

// Layout Variables
$padding: 30px;
$margin: 30px;
$padding-top-bottom: 10px 0;
// Grid Variables
$gutter: 2;


// Function to
// Convert Px to Ems
@function em($px, $bc: 16){
    @return #{$px/$bc}em; 
}

// Media Query Breakpoints
$tabletLandscape: em(1024);
$tabletPortrait: em(850);
$phoneLandscape: em(670);
$phonePortrait: em(420);







