@mixin subscribes {
    .subscribes-box {
        font-size: $font-p;
        font-weight: bold;  
        position: fixed;
        bottom: 5vh;
        right: 0vw;
        @include no-style-link;
        padding: 0;
    }
    .subscribes-box a {
        margin: 0 3vw 0 0;
        color: white;
        display: block;
        padding: 1vh 2vw 1vh 2vw;
        background-color: #060708;
    }
}

@mixin subscribes-mobile {
    
    .subscribes-box {
        font-size: 0.7em;
        font-weight: bold;
        @include no-style-link;
        display: block;

        a {
            color: white;
            display: block;
            width: 100px;
            text-align: center;  
            background-color: #060708;
        } // End a 

    } // End subscribes-box
    
} // End subscribes-mobile